* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(217, 244, 255);
    overflow-x: hidden;
}

#navbar {
    display: flex;
    width: 100%;
    height: 75px;
    background: rgb(38, 55, 61);
    align-items: center;
    justify-content: left;
}

#logo-img {
    width: 40px;
    height: 40px;
}

#navbar li {
    margin: 0 15px 0 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    list-style-type: none;
    transition: all 0.25s ease-in-out;
}

#navbar #headeritem:hover {
    box-shadow: 0px 8px white;
}

#navbar li a {
    color: white;
    text-decoration: none;
}

header {
    transition: all 0.25s ease-in-out;
}

#menu-open {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

#menu-open div {
    background-color: white;
    width: 40px;
    height: 6px;
}

#menu-open:hover {
    cursor: pointer;
}

#menu-open {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

#menu-open div {
    background-color: white;
    width: 40px;
    height: 6px;
}

#menu-open:hover {
    cursor: pointer;
}

#menu {
    background-color: rgb(26, 38, 43);
    width: 300px;
    height: 500px;
    position: absolute;
    right: 0; 
    list-style: none;
    padding-left: 20px;
    transition: all 0.25s ease-in-out;
    z-index: 100;
}

#menu.hidden {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#menu.visible {
    transform: translateX(0);
}

#menu-item {
    margin: 30px 0px;
    transition: all 0.25s ease-in-out;
    width: fit-content;
}

#menu-item a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

#menu #menu-item:hover {
    box-shadow: 0px 8px white;
}

@media screen and (max-width: 800px) {
    #menu-open {
        display: flex;
    }

    #headeritem {
        display: none;
    }
}

#section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25vh;
}

#ninja-title {
    width: 500px;
    color: rgb(38, 55, 61);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
}

#ninja-box {
    width: fit-content;
    height: 100%;
}

#ninja-text {
    width: 500px;
    color: rgb(38, 55, 61);     
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

#ninja {
    width: 300px;
    height: 300px;
    border: 5px rgb(255, 255, 255) dashed;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
}

#ninjacircle {
    position: absolute;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background: transparent;
    border: 5px red solid;
}

#homeninja {
    display: flex;
}

@media screen and (max-width: 1000px) {
    #section1 {
        flex-wrap: wrap;
        margin-top: 5vh;
        justify-content: center;
    }

    #ninja-box {
        margin-bottom: 2vh;
        text-align: center;
    }

    #ninja-title {
        text-align: center;
    }

    #ninja {
        width: 460px;
        height: 460px;
        margin: 0px 20px;
    }

    #ninjacircle {
        width: 460px;
        height: 460px;
        margin: 0px 20px;
    }
}