@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px rgb(196, 196, 196) solid;
    border-top: 40px rgb(22, 22, 22) solid;
    background-color: rgb(255, 255, 255);
}

#navbar-links {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
    width: 350px;
}

#navbar-link {
    font-size: 23px;
    color:rgb(51, 104, 173);
}

#navbar-link:hover {
    color:rgb(99, 167, 255);
    cursor: pointer;
}

#navbar-bottom {
    width: 100%;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
}

#navbar-bottom div li a {
    color: white;
}

#logo, #cart {
    margin: 15px 40px;
}

#cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#cart:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

#total-quantity {
    background-color: rgb(58, 118, 197);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-left: -20px;
    margin-bottom: -25px;
    text-align: center;
}

#cart-menu {
    width: 400px;
    height: 100%;
    position: absolute; 
    right: 0;
    list-style: none;
    background-color: white;
    border: 1px black solid;
    padding: 0px 25px;
    z-index: 2;
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
}

#cart-menu.hidden {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#cart-menu.visible {
    transform: translateX(0);
}

#grayout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    pointer-events: none;
}

#grayout.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#grayout.visible {
    opacity: 1;
    pointer-events: auto;
}

body.hidden {
    overflow-y: scroll;
}

body.visible {
    overflow-y: hidden;
}

#cart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-title {
    height: fit-content;
    text-align: center;
    margin: 25px 0px;
}

#close-cart {
    font-size: 35px;
}

#close-cart:hover {
    cursor: pointer;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.cart-item-item {
    display: flex;
    align-items: center;
    width: 500PX;
    margin-bottom: 25px;
}

.cart-item-image {
    margin-right: 20px;
}

.cart-item-name {
    font-size: 25px;
}

.cart-item-quantity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cart-quantity {
    font-size: 25px;
    margin: 0px 25px;
}

.cart-item-quantity button{
    border-radius: 50%;
    aspect-ratio: 1;
    width: 30px;
    border: 1px gray solid;
}

.cart-item-quantity button:hover {
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

.cart-item-quantity button:active {
    background-color: rgb(175, 175, 175);
}

.cart-price {
    font-size: 30px;
}

.cart-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 25px;
}

#buy-box {
    width: 100%;
    height: 75px;
    justify-content: center;
    bottom: 50px;
    position: absolute;
    display: none;
}

#buy-button {
    width: 250px;
    height: 75px;
    border-radius: 50px;
    background-color: rgb(58, 118, 197);
    font-size: 20px;
    color: white;
    margin-right: 40px;
    border: 2px black solid;
}

#buy-button:hover {
    cursor: pointer;
    background-color: rgb(54, 111, 185);
}

#buy-button:active {
    background-color: rgb(51, 104, 173);
}

#item-section {
    display: flex;
    justify-content: center;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 100px;
}

#item {
    padding: 55px;
    border-bottom: 1px rgb(196, 196, 196) solid;
}

#item:hover {
    background-color: rgb(236, 236, 236);
}

#item-img {
    margin-bottom: 25px;
}

#item-img:hover {
    cursor: pointer;
}

#name {
    font-weight: 500;
}

#name:hover {
    cursor: pointer;
}

#price {
    font-weight: 500;
    font-size: 22px;
    margin: 5px 0;
}

#stock {
    color: rgb(63, 63, 63);
}

#add-to-cart {
    background-color: rgb(58, 118, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 0px;
}

#add-to-cart:hover {
    background-color: rgb(52, 103, 170);
    cursor: pointer;
}

#add-to-cart:active {
    background-color: rgb(46, 90, 148);
}

#product-section {
    display: none;
    justify-content: center;
}

#product {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 100px;
}

#product-title {
    font-size: 30px;
    font-weight: 600;
}

#about-product {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-product img {
    width: 500px;
}

#product-purchase {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#product-purchase h1 {
    width: 100%;
}

#product-price {
    font-size: 50px;
    color: black;
    margin-bottom: 200px;
}

#product-purchase button {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(51, 104, 173);
    color: white;
    font-size: 20px;
    border: 1px black solid;
}

#product-purchase button:hover {
    cursor: pointer;
    background-color: rgb(46, 93, 155);
}

#product-purchase button:active {
    background-color: rgb(38, 77, 128);
}

#product p {
    margin-top: 100px; 
    font-size: 22px;
}


footer {
    background-color: rgb(201, 201, 201);
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

@media only screen and (max-width: 875px) {
    #navbar-bottom {
        display: flex;
    }

    #navbar #navbar-links {
        display: none;
    }

    #navbar-link:hover {
        color: rgb(189, 189, 189);
    }
}

@media only screen and (max-width: 1500px) {
    #product {
        width: 80%;
    }

    #about-product {
        flex-wrap: wrap;
        justify-content: center;
    }

    #product-purchase {
        width: 100%;
        flex-wrap: nowrap;
        margin-top: 100px;
    }

    #product-purchase button {
        width: 75%;
        font-size: 18px;
    }

    #product-quantity {
        position: absolute;
        margin-top: 7vh;
        margin-left: 1vh;
    }

    #product p {
        margin-top: 0px;
    }
}


@media only screen and (max-width: 500px) {
    #cart-menu {
        width: 80%;
    }

    #product {
        width: 90%;
    }
}